:root {
  --primary: #191414;
  --secondary: #1db954;
  --background-dark: #0a0a0a;
  --background-gray: #282828;
  --background-light-2: #535353;
  --background-light: #080707;
  --gray: #ffffffb3;
  --text-color: #a6a6a6;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 2rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --spacer-6: 4rem;
  --screen-table: 1200px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 12px;
  line-height: 1.44;
}
body {
  min-width: 720px;
  background-color: var(--secondary);
  height: 100vh;
  background: var(--primary);
  background: rgb(34, 34, 34);
  background: linear-gradient(
    162deg,
    rgba(34, 34, 34, 1) 24%,
    rgba(18, 18, 18, 1) 58%
  );
}

.visible {
  visibility: visible;
}

.no_visible {
  display: none;
}
