.m-navigation {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-right: 2rem;
  padding-left: 2rem;
  position: sticky;
  top: 0px;
}

.m-navigation__arrows {
  display: flex;
  align-items: center;
}

.m-navigation__user {
  display: flex;
  gap: 15px;
}
